<a href="https://colab.research.google.com/github/aknsntn/visualisation/blob/main/Data_Tables_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Для выполнения заданий возьмите данные из папки [data](https://drive.google.com/drive/folders/17E4vB5kWr5FNjLKRU4XGoJSVTxn1jkg4?usp=sharing) о продажах. Данные распределены по 4 папкам:
* sales_train.csv - данные о продажах с января 2013 по октябрь 2015.
** date - дата продажы
** date_block_num - номер месяца по порядку следования
** shop_id - идентификатор магазина
** item_id - идентификатор товара
** item_price - цена товара
** item_cnt_day - количество проданного товара одного вида в день

* items.csv - подробная информация о товарах
** item_id - идентификатор товара
** item_name - название товара
** category_id - идентификатор категории товара

* item_categories.csv - подробная информация о категориях товаров
** item_category_id - идентификатор категории товара
** category_name - название категории товара

* shops.csv - подробная информация о магазинах
** shop_id - идентификатор магазина
** shop_name - название магазина

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Задание 1

In [ ]:
sales <- read_csv('sample_data/sales_train.csv', col_types = cols(date = col_character(), date_block_num = col_double(), shop_id = col_double(), item_id = col_double(), item_price = col_double(), item_cnt_day = col_double()))

In [ ]:
head(sales)

  date       date_block_num shop_id item_id item_price item_cnt_day
1 02.01.2013 0              59      22154    999.00     1
2 03.01.2013 0              25       2552    899.00     1
3 05.01.2013 0              25       2552    899.00    -1
4 06.01.2013 0              25       2554   1709.05     1
5 15.01.2013 0              25       2555   1099.00     1
6 10.01.2013 0              25       2564    349.00     1

1. Найдите топ-10 самых часто покупаемых товаров (не забудьте учесть столбец item_cnt_day).

In [ ]:
top <- sales[c("item_id", "item_cnt_day")]
top <- top %>% group_by(item_id) %>% summarise(item_cnt_day = sum(item_cnt_day)) %>% arrange(desc(item_cnt_day))
head(top, n = 10)

   item_id item_cnt_day
1  20949   180174
2   2808    17173
3   3732    16529
4  17717    14818
5   5822    13995
6   3734    11586
7   6675    10285
8   1855    10024
9   3731     9624
10 16787     9199

2. Оставьте только те из них, которые покупали все три года (2013, 2014, 2015).

In [ ]:
full_top <- merge(head(top, n = 10), sales, by = "item_id")
full_top <- full_top[ , -7]
names(full_top)[2] <- "item_cnt_day"
top_2013 <- full_top %>% filter(date_block_num < 12)
top_2013 <- unique(top_2013[1])
top_2014 <- full_top %>% filter(date_block_num > 11) %>% filter(date_block_num < 24)
top_2014 <- unique(top_2014[1])
top_2015 <- filter(full_top, date_block_num > 23)
top_2015 <- unique(top_2015[1])
needed_id <- merge(top_2015, merge(top_2013, top_2014, by = "item_id"), by = "item_id")
needed_id

  item_id
1  1855
2  2808
3  3732
4  3734
5  5822
6  6675
7 16787
8 17717
9 20949

# Задание 2

In [ ]:
item_categories <- read_csv("sample_data/item_categories.csv")
items <- read_csv("sample_data/items.csv")
items

Rows: 84 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): item_category_name
dbl (1): item_category_id

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 22170 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): item_name
dbl (2): item_id, category_id

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      item_name
1     !! IN THE POWER OF HAPPINESS (PLAST) D
2     ! ABBYY FineReader 12 Professional Edition Full [PC, Digital Version]
3     *** IN THE GLORY OF THE GLORY (UNV) D
4     *** BLUE WAVE (Univ) D
5     *** BOX (GLASS) D
6     *** NEW AMERICAN GRAPHICS (UNI) D
7     *** BLOCK ON THE GATES (UNI) D
8     *** SHOCK AT DOOR-2 (UNI) D
9     *** TEA WITH MUSSOLINI D
10    *** SHUGARLEND EXPRESS (UNI) D
11    * Beyond Death's Edge D
12    * LINE OF COMMENTS D
13    * MICHAEL AND JUMANJI Female love
14    * SAVING EMILY D
15    * PRIVATE PROFESSOR / MAGIC / D
16    // ADRENALIN: ONE AGAINST ALL (Region)
17    // MONGOL S.Bodrov (Region)
18    // NOT OBSERVING THE TRACK (Region)
19    / BOMB FOR THE BRIDE / 2DVD / D
20    / GOLDEN COLLECTION m / f-72
21    / ONCE IN CHINA-2
22    /LAST CHANCE
23    / CURED EL CHARRO
24    / NORTH AND SOUTH / N.2
25    / THE DEATH PASSAGE
26    /YOU ARE DEAD
27    / MULTIPLE FREQUENCY vol.2 (ser.3-4)
28    007 Legends [PS3, Russian version]
29    007 Legends [PC, Jewel, Russian version]
30    007 Legends [Xbox 360, Russian version]
⋮     ⋮
22141 I, ROBOT (BD)
22142 Me, AGAIN AND MOM
22143 Me, AGAIN AND ME (BD)
22144 I AM FRANKENSTEIN
22145 I, FRANKNSTEIN (3D BD)
22146 I, FRANKNSTEIN (BD)
22147 I-LEGEND WB (BD)
22148 I-LEGEND WB (region)
22149 I-FOURTH WD
22150 I-FOURTH WD (Region)
22151 I AM THE FOURTH (BD)
22152 SCENE (2012)
22153 SCENE (2012) (region)
22154 THE PHENOMENON (BD)
22155 SCENE 2012 (BD)
22156 POISONS, OR WORLD HISTORY OF POISONING (BD)
22157 POISONS, OR WORLD HISTORY OF POISONING (region)
22158 YALTA 45
22159 YAMA (rem)
22160 YANKOVSKY
22161 FAIR OF FAIRY (Region)
22162 YAROSLAV. THOUSAND YEARS AGO B (BD)
22163 THE FATHER
22164 FURNISH (region)
22165 THE FURNACE (BD)
22166 Nuclear Titbit 2 [PC, Digital Version]
22167 Query language 1C: Enterprise [Digital version]
22168 The query language is 1C: Enterprise 8 (+ CD). Khrustaleva E.Yu.
22169 Egg for Little Inu
22170 Egg of the Dragon (Game of Thrones)
      item_id category_id
1      0      40
2      1      76
3      2      40
4      3      40
5      4      40
6      5      40
7      6      40
8      7      40
9      8      40
10     9      40
11    10      40
12    11      40
13    12      55
14    13      40
15    14      40
16    15      40
17    16      40
18    17      40
19    18      40
20    19      40
21    20      40
22    21      40
23    22      40
24    23      40
25    24      40
26    25      40
27    26      40
28    27      19
29    28      30
30    29      23
⋮     ⋮       ⋮
22141 22140   37
22142 22141   40
22143 22142   37
22144 22143   40
22145 22144   38
22146 22145   37
22147 22146   37
22148 22147   40
22149 22148   40
22150 22149   40
22151 22150   37
22152 22151   40
22153 22152   40
22154 22153   37
22155 22154   37
22156 22155   37
22157 22156   40
22158 22157   40
22159 22158   40
22160 22159   40
22161 22160   40
22162 22161   37
22163 22162   40
22164 22163   40
22165 22164   37
22166 22165   31
22167 22166   54
22168 22167   49
22169 22168   62
22170 22169   69

In [ ]:
top_ctg <- merge(sales, items, by = "item_id")

In [ ]:
top_ctg <- top_ctg %>% group_by(category_id) %>% summarise(item_cnt_day = sum(item_cnt_day)) %>% arrange(item_cnt_day)


1. Определите категорию товаров, в которой совершается минимальное число покупок. Выведите айди и название категории.

In [ ]:
min_ctg <- top_ctg[c(1:2),]
min_ctg

  category_id item_cnt_day
1 10          1
2 51          1

2. Определите категорию товаров, в которой совершается максимальное число покупок. Выведите айди и название категории.

In [ ]:
top_ctg <- top_ctg %>% group_by(category_id) %>% summarise(item_cnt_day = sum(item_cnt_day)) %>% arrange(desc(item_cnt_day))
max_ctg <- top_ctg[1,]
max_ctg

  category_id item_cnt_day
1 40          619945

# Задание 3

1. Для категорий из задания 2 найдите среднее количество продаж каждого товара категории в 5 магазинах с наибольшими продажами.

In [ ]:
items_ctg <- merge(items, sales, by = "item_id")

  item_id item_name
1 0       !! IN THE POWER OF HAPPINESS (PLAST) D
2 1       ! ABBYY FineReader 12 Professional Edition Full [PC, Digital Version]
3 1       ! ABBYY FineReader 12 Professional Edition Full [PC, Digital Version]
  category_id date       date_block_num shop_id item_price item_cnt_day
1 40          01.09.2014 20             54        58       1
2 76          02.04.2014 15             55      4490       1
3 76          04.08.2014 19             55      4490       1

In [ ]:
top_shops <- head(sales %>% group_by(shop_id) %>% summarise(item_cnt_day = sum(item_cnt_day)) %>% arrange(desc(item_cnt_day)), n = 5)
top_shops <- merge(top_shops, items_ctg, by = "shop_id")
top_shops <- top_shops[ , -2]
names(top_shops)[8] <- "item_cnt_day"

In [ ]:
top_shops_max <- merge(top_shops, max_ctg, by = "category_id")
top_shops_max <- top_shops_max[ , -9]
names(top_shops_max)[8] <- "item_cnt_day"
top_shops_max %>% group_by(item_id) %>% summarise(item_cnt_day = mean(item_cnt_day))

     item_id item_cnt_day
1     0      1.000000
2     2      1.000000
3     3      1.000000
4     4      1.000000
5     5      1.000000
6     6      1.000000
7     7      1.000000
8     8      1.000000
9     9      1.000000
10   10      1.000000
11   11      1.000000
12   13      1.000000
13   14      1.000000
14   15      1.000000
15   18      1.000000
16   19      1.000000
17   20      1.000000
18   21      1.000000
19   22      1.000000
20   23      1.000000
21   24      1.000000
22   25      1.000000
23   26      1.000000
24   30      1.873362
25   32      1.246201
26   34      1.000000
27   35      1.428571
28   37      1.000000
29   43      1.000000
30   63      1.000000
⋮    ⋮       ⋮
4591 22075   1.000000
4592 22108   1.000000
4593 22114   1.025641
4594 22116   1.000000
4595 22119   1.031250
4596 22120   1.000000
4597 22121   1.415385
4598 22123   1.000000
4599 22124   1.000000
4600 22126   1.328767
4601 22128   1.000000
4602 22129   1.000000
4603 22130   1.455556
4604 22132   1.022727
4605 22133   1.000000
4606 22134   1.377778
4607 22136   1.000000
4608 22141   1.148148
4609 22143   1.644578
4610 22147   1.000000
4611 22148   1.000000
4612 22149   1.000000
4613 22151   1.540000
4614 22152   1.000000
4615 22156   1.000000
4616 22157   1.000000
4617 22159   1.142857
4618 22160   1.000000
4619 22162   1.494505
4620 22163   1.230769

In [ ]:
top_shops_min <- merge(top_shops, min_ctg, by = "category_id")
top_shops_min #once again they don't sell this stuff in cool shops

     category_id shop_id item_id item_name date date_block_num item_price
     item_cnt_day.x item_cnt_day.y

2. Найдите месяцы с минимальными и максимальными продажами для каждого товара из пункта 1.

In [ ]:
min_sales <- top_shops_max %>% group_by(item_id, date_block_num) %>% summarise(item_cnt_day = min(item_cnt_day))
min_sales[ , -3]

`summarise()` has grouped output by 'item_id'. You can override using the
`.groups` argument.

      item_id date_block_num
1      0      20
2      2      19
3      2      22
4      3      18
5      3      19
6      4      20
7      5      23
8      6      18
9      7      23
10     8      19
11     8      20
12     9      19
13    10      24
14    11      22
15    13      20
16    14      23
17    15      22
18    18      19
19    19       0
20    20      19
21    21      20
22    22      27
23    23      25
24    24      27
25    25      19
26    26      21
27    30       1
28    30       2
29    30       3
30    30       4
⋮     ⋮       ⋮
40437 22152    5
40438 22152    6
40439 22152    7
40440 22152    8
40441 22152    9
40442 22152   10
40443 22152   11
40444 22152   12
40445 22152   13
40446 22156    4
40447 22156   12
40448 22157    4
40449 22157    5
40450 22159   28
40451 22159   29
40452 22160    0
40453 22160    1
40454 22160    2
40455 22160    4
40456 22160    5
40457 22160    7
40458 22160    8
40459 22162   25
40460 22162   26
40461 22162   27
40462 22162   28
40463 22162   29
40464 22162   30
40465 22162   31
40466 22163   31

In [ ]:
max_sales <- top_shops_max %>% group_by(item_id, date_block_num) %>% summarise(item_cnt_day = max(item_cnt_day))
max_sales[ , -3]

`summarise()` has grouped output by 'item_id'. You can override using the
`.groups` argument.

      item_id date_block_num
1      0      20
2      2      19
3      2      22
4      3      18
5      3      19
6      4      20
7      5      23
8      6      18
9      7      23
10     8      19
11     8      20
12     9      19
13    10      24
14    11      22
15    13      20
16    14      23
17    15      22
18    18      19
19    19       0
20    20      19
21    21      20
22    22      27
23    23      25
24    24      27
25    25      19
26    26      21
27    30       1
28    30       2
29    30       3
30    30       4
⋮     ⋮       ⋮
40437 22152    5
40438 22152    6
40439 22152    7
40440 22152    8
40441 22152    9
40442 22152   10
40443 22152   11
40444 22152   12
40445 22152   13
40446 22156    4
40447 22156   12
40448 22157    4
40449 22157    5
40450 22159   28
40451 22159   29
40452 22160    0
40453 22160    1
40454 22160    2
40455 22160    4
40456 22160    5
40457 22160    7
40458 22160    8
40459 22162   25
40460 22162   26
40461 22162   27
40462 22162   28
40463 22162   29
40464 22162   30
40465 22162   31
40466 22163   31

# Задание 4

1. Для категорий из задания 2 найдите среднюю и медианную цену по категории в пределах каждого месяца.

In [ ]:
#mean price for the least popular categories
merge(items_ctg, min_ctg, by = "category_id") %>% group_by(category_id, date_block_num) %>% summarise(item_price = mean(item_price))

`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.

  category_id date_block_num item_price
1 10           3             1998
2 51          18              129

In [ ]:
#mean price for the most popular category
merge(items_ctg, max_ctg, by = "category_id") %>% group_by(category_id, date_block_num) %>% summarise(item_price = mean(item_price))

`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.

   category_id date_block_num item_price
1  40           0             244.4859
2  40           1             252.1749
3  40           2             260.6450
4  40           3             254.8524
5  40           4             247.6276
6  40           5             245.8609
7  40           6             236.8121
8  40           7             234.4702
9  40           8             241.8186
10 40           9             247.5439
11 40          10             253.2127
12 40          11             257.7663
13 40          12             252.9098
14 40          13             261.2565
15 40          14             262.4360
16 40          15             268.4081
17 40          16             254.3645
18 40          17             255.1581
19 40          18             257.3948
20 40          19             264.0901
21 40          20             265.3885
22 40          21             263.7517
23 40          22             264.0330
24 40          23             261.9187
25 40          24             263.2980
26 40          25             256.3624
27 40          26             258.1940
28 40          27             281.6307
29 40          28             286.5086
30 40          29             279.1423
31 40          30             273.2515
32 40          31             273.2421
33 40          32             283.1607

In [ ]:
#median price for the least popular categories
merge(items_ctg, min_ctg, by = "category_id") %>% group_by(category_id, date_block_num) %>% summarise(item_price = median(item_price))

`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.

  category_id date_block_num item_price
1 10           3             1998
2 51          18              129

In [ ]:
#median price for the most popular category
merge(items_ctg, max_ctg, by = "category_id") %>% group_by(category_id, date_block_num) %>% summarise(item_price = median(item_price))

`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.

   category_id date_block_num item_price
1  40           0             199.00
2  40           1             203.00
3  40           2             231.00
4  40           3             199.00
5  40           4             199.00
6  40           5             199.00
7  40           6             149.00
8  40           7             149.00
9  40           8             198.00
10 40           9             199.00
11 40          10             199.00
12 40          11             237.00
13 40          12             199.00
14 40          13             248.00
15 40          14             251.00
16 40          15             249.00
17 40          16             199.00
18 40          17             199.00
19 40          18             199.00
20 40          19             199.00
21 40          20             240.00
22 40          21             199.00
23 40          22             199.00
24 40          23             199.00
25 40          24             200.78
26 40          25             199.00
27 40          26             169.00
28 40          27             299.00
29 40          28             299.00
30 40          29             249.00
31 40          30             199.00
32 40          31             249.00
33 40          32             299.00

2. В каждом году найдите месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце.

In [ ]:
months <- items_ctg %>% group_by(date_block_num) %>% summarise(item_price = mean(item_price))
months[months] #not fifnished tho..

   date_block_num item_price
1   0              710.6221
2   1              695.8669
3   2              694.6881
4   3              653.6338
5   4              624.1800
6   5              630.8936
7   6              618.5782
8   7              624.5769
9   8              756.2288
10  9              784.6433
11 10              822.9499
12 11              999.5388
13 12              862.8691
14 13              866.4483
15 14              901.0682
16 15              852.1602
17 16              860.0392
18 17              873.5382
19 18              847.0464
20 19              886.8797
21 20             1057.3818
22 21             1069.6590
23 22             1218.8737
24 23             1371.7501
25 24             1136.1425
26 25             1010.4654
27 26             1021.1701
28 27             1047.9427
29 28             1076.8995
30 29             1020.4375
31 30              966.8284
32 31              951.3741
33 32              805.1060